<!--
  Generated template for the AddPurchasePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-buttons start>
      <button ion-button color="light" clickFeedback (click)="cancel()">取消</button>
    </ion-buttons>
    <ion-title>新增采购单</ion-title>

    <ion-buttons end>
      <button ion-button color="light" clickFeedback (click)="toSave()" strong>
        <span>采购</span>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <form [formGroup]="purchaseForm">
    <ion-item class="purchase-item">
      <ion-label color="primary">供应商</ion-label>
      <ion-select formControlName="providerId" cancelText="取消" interface="action-sheet" placeholder="请选择">
        <ion-option *ngFor="let provider of allProviders$ | async" [value]="provider.id">
          {{provider.name}}
        </ion-option>
      </ion-select>
    </ion-item>

    <button ion-item (click)="toAddProvider()">
      添加供应商
      <ion-icon color="grey" name="add" item-end></ion-icon>
    </button>

    <ion-item class="purchase-item">
      <ion-label color="primary">仓库</ion-label>
      <ion-select formControlName="stockId" cancelText="取消" interface="action-sheet" placeholder="请选择">
        <ion-option *ngFor="let stock of allStocks$ | async" [value]="stock.id">
          {{stock.name}}
        </ion-option>
      </ion-select>
    </ion-item>


    <ion-item class="purchase-item" (click)="toSelectGoods()">
      <ion-label color="primary">选择商品</ion-label>
      <ion-icon name="add" color="primary" item-end></ion-icon>
    </ion-item>

    <ion-grid>

      <div *ngIf="selectedGoodses.length > 0">
        <ion-row>
          <ion-col col-4>
            商品名称
          </ion-col>
          <ion-col col-4>
            商品数量
          </ion-col>
          <ion-col col-4>
            商品价格
          </ion-col>
        </ion-row>

        <ion-row *ngFor="let goods of selectedGoodses">
          <ion-col col-4>
            {{goods.name}}
          </ion-col>
          <ion-col col-4>
            {{goods.count}}
          </ion-col>
          <ion-col col-4>
            {{goods.price}}
          </ion-col>
        </ion-row>
      </div>

      <ion-row *ngIf="selectedGoodses.length > 0">
        <ion-col col-6>
          商品数量 {{totalNum}}
        </ion-col>
        <ion-col col-6>
          金额 {{totalPrice}}
        </ion-col>
      </ion-row>

      <ion-row *ngIf="selectedGoodses.length > 0">
        <ion-col col-6 (click)="toDiscountInput()">
          <ion-icon name="remove" color="primary"></ion-icon>
          <span class="ion-text">优惠金额</span>
          <span class="amount">{{ '￥' + getFormControlValue('discount')}}</span>
        </ion-col>
        <ion-col col-6 (click)="toOtherFeeInput()">
          <ion-icon name="add" color="primary"></ion-icon>
          <span class="ion-text">其他费用</span>
          <span class="amount">{{ '￥' + getFormControlValue('otherFee')}}</span>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-item class="purchase-item">
      <ion-label color="primary">实付(元)</ion-label>
      <ion-input type="number" formControlName="paidAmount"></ion-input>
    </ion-item>

    <ion-item class="purchase-item">
      <ion-textarea formControlName="description" placeholder="填写采购单备注"></ion-textarea>
    </ion-item>

  </form>
</ion-content>
<ion-footer>
  <ion-item>
    <ion-label>{{'￥' + (totalPrice)}}</ion-label>
    <button ion-button item-end (click)="toSave()" [disabled]="selectedGoodses.length === 0">采购</button>
  </ion-item>
</ion-footer>