page-add-purchase {
  ion-content {
    .purchase-item {
      margin-top: 10px;
    }

    button {
      color: map-get($map: $colors, $key: grey);
    }

    .ion-text {
      margin-left: 10px;
      margin-right: 10px;
    }
    .amount {
      color: map-get($map: $colors, $key: primary);
    }
  }

  ion-footer {
    .item {
      padding-right: 0;
      .item-inner {
        padding-right: 0 !important;
      }
      .item-button {
        margin: 0 !important;
        padding: 0 !important;
        height: 100% !important;
        width: 100px !important;
      }
    }
  }
}
