page-order {
  .spinner-container {
    display: flex;
    justify-content: center;
  }

  .order-item {
    display: flex;
    .order-info {
      flex: 3;

      .order-date,
      .order-number {
        .text {
          // color: red;
        }
      }

      .order-number {
        margin-top: 30px;
      }
    }

    .order-action {
      flex: 1;
      margin-left: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
}
