<!--
  Generated template for the PurchaseManagementPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar #navbar [backFeedback]="navbar">
    <ion-title>进货管理</ion-title>

    <ion-buttons end>
      <button ion-button icon-only color="light" (click)="toAddPurchase()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

  <ion-toolbar no-border-top>
    <ion-segment [formControl]="statusCtrl">
      <ion-segment-button [value]="3">
        默认
      </ion-segment-button>
      <!-- <ion-segment-button [value]="0">
        待进货
      </ion-segment-button>
      <ion-segment-button [value]="1">
        部分进货
      </ion-segment-button>
      <ion-segment-button [value]="2">
        已进货
      </ion-segment-button> -->
    </ion-segment>
  </ion-toolbar>

</ion-header>


<ion-content padding>
  <div *ngIf="purchases$ | async as purchases">
    <div class="purchase-item" *ngFor="let purchase of purchases">
      <div class="left-area">
        <div class="account-name">{{purchase.providerName}}</div>
        <div class="created-at">{{purchase.createdAt | moment}}</div>
      </div>

      <div class="right-area">
        <div class="total-price">$ {{purchase.goods | orderPrice}}</div>
      </div>
    </div>

    <p class="no-item" *ngIf="purchases.length === 0">还没有采购单呢</p>
  </div>
</ion-content>