<ion-header>
  <ion-navbar>
    <ion-title class="text-center">{{merchantName | async}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="home-container">
    <div class="main-actions">
      <div class="main-action" clickFeedback (click)="toPage('OrderPage')">
        <i class="iconfont icon-order"></i>
        <span>订单</span>
      </div>
      <div class="main-action" clickFeedback (click)="toPage('CheckAccountPage')">
        <i class="iconfont icon-checkorder"></i>
        <span>对账</span>
      </div>
      <div class="main-action" clickFeedback (click)="toPage('StatisticsPage')">
        <i class="iconfont icon-statistics"></i>
        <span>统计</span>
      </div>
    </div>

    <div class="today-statistics">
      <div class="today-item shishou" clickFeedback (click)="toPage('CheckAccountPage')">
        <span class="value" countUp [endVal]="todayMerchantAmount"></span>
        <span class="label">今日实收(元)</span>
      </div>

      <div class="today-item order" clickFeedback (click)="toPage('CheckAccountPage')">
        <span class="value" countUp [endVal]="todayOrderCount" [decimal]="0"></span>
        <span class="label">订单笔数(笔)</span>
      </div>
    </div>

    <div class="main-apps">
      <ion-grid>
        <ion-row class="first-row">
          <ion-col *ngFor="let app of appRow1" col-3 class="main-app" clickFeedback (click)="toPage(app.page)">
            <div [ngClass]="['icon-wrapper', app.value]">
              <i [ngClass]="['iconfont', 'icon-'+ app.value]"></i>
            </div>
            <span>{{app.label}}</span>
          </ion-col>
        </ion-row>
        <ion-row class="second-row">
          <ion-col *ngFor="let app of appRow2" col-3 class="main-app" clickFeedback (click)="toPage(app.page)">
            <div [ngClass]="['icon-wrapper', app.value]">
              <i [ngClass]="['iconfont', 'icon-'+ app.value]"></i>
            </div>
            <span>{{app.label}}</span>
          </ion-col>


        </ion-row>
      </ion-grid>
    </div>

    <div class="image-container">
      <ion-slides [autoplay]="3000" [loop]="true">
        <ion-slide>
          <img src="./assets/imgs/slide_0.jpg" alt="酒店宣传图">
        </ion-slide>
        <ion-slide>
          <img src="./assets/imgs/slide_1.jpg" alt="酒店业绩图">
        </ion-slide>
      </ion-slides>
    </div>

  </div>
</ion-content>
