page-home {

  .home-container {

    .main-actions {
      display: flex;
      justify-content: space-around;
      align-items: center;

      height: 100px;
      background-color: map-get($colors, primary);
      color: map-get($colors, light);

      .main-action {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px 20px;
        i {
          font-size: 3rem;
        }

        span {
          margin-top: 5px;
        }
      }
    }

    .today-statistics {
      display: flex;
      justify-content: space-around;
      align-items: center;
      height: 80px;
      background-color: map-get($map: $colors, $key: bgWhite);
      .today-item {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 10px 20px;
        &.active {
          background-color: map-get($map: $colors, $key: bgFeedback);
        }
        .value {
          font-size: 1.5rem;
          color: map-get($map: $colors, $key: primary);
        }
        .label {
          margin-top: 5px;
          color: map-get($map: $colors, $key: grey)
        }
      }
    }

    .main-apps {
      margin-top: 10px;
      background-color: map-get($map: $colors, $key: bgWhite);
      .row {
        border: none;
      }
      .second-row {
        margin-top: 10px;
      }
      .main-app {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 10px;

        &.active {
          background-color: map-get($map: $colors, $key: bgFeedback);
        }

        .icon-wrapper {
          @include flexCenter;
          width: 35px;
          height: 35px;
          border-radius: 12px;
          background-color: map-get($colors, primary);
          color: map-get($colors, light);
          margin-bottom: 5px;

          i {
            font-size: 2rem;
          }

          &.goods {
            background-color: #FEA52D;
          }
          &.purchase {
            background-color: #FD5459;
          }
          &.sales {
            background-color: #25B4E7;
          }
          &.stock {
            background-color: #F4575E;
          }
          &.statistics {
            background-color: #FE5359;
          }
          &.more {
            background-color: #D0D0D0;
          }
        }
      }
    }

    .image-container {
      margin-top: 10px;
    }
  }
}
