// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before {
  background-image: none !important;
}

.toolbar {
  .back-button {
    color: map-get($colors, light);
  }
  .toolbar-background {
    background-color: map-get($colors, primary);
  }
  .toolbar-title {
    color: map-get($colors, light);
  }
}



.segment-button {
  color: map-get($map: $colors, $key: light) !important;
  border-bottom: none !important;
  &.segment-activated {
    border-bottom: 2px solid map-get($map: $colors, $key: light) !important;
  }
}

.scroll-content { 
  background-color: map-get($map: $colors, $key: bgPage);
  padding: 0 !important;
}