<!--
  Generated template for the AddGoodsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>

  <ion-navbar #navbar [backFeedback]="navbar">
    <ion-buttons start>
      <button ion-button color="light" clickFeedback (click)="cancel()">取消</button>
    </ion-buttons>

    <ion-title>新增商品</ion-title>

    <ion-buttons end>
      <button ion-button color="light" clickFeedback (click)="toSaveGoods()" strong>
        <span>保存</span>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form [formGroup]="goodsForm">
    <div class="add-goods-container">


      <div class="image-input add-goods-input">
        <div class="add-area">
          <ion-icon name="add" color="bgPage"></ion-icon>
        </div>
      </div>

      <ion-item class="goods-item">
        <ion-label color="primary">商品名称</ion-label>
        <ion-input formControlName="name"></ion-input>
      </ion-item>

      <ion-item class="goods-item">
        <ion-label color="primary">商品分类</ion-label>
        <ion-select formControlName="goodsTypeId" cancelText="取消" interface="action-sheet" placeholder="请选择">
          <ion-option *ngFor="let type of allGoodsTypes$ | async" [value]="type.id">
            {{type.name}}
          </ion-option>
        </ion-select>
      </ion-item>

      <button ion-item (click)="toAddGoodsType()">
        添加分类
        <ion-icon color="grey" name="add" item-end></ion-icon>
      </button>

      <ion-item class="goods-item">
        <ion-label color="primary">进价(元)</ion-label>
        <ion-input formControlName="buyPrice" type="number"></ion-input>
      </ion-item>

      <ion-item class="goods-item">
        <ion-label color="primary">单价(元)</ion-label>
        <ion-input formControlName="price" type="number"></ion-input>
      </ion-item>

      <ion-item class="goods-item">
        <ion-label color="primary">会员价(元)</ion-label>
        <ion-input formControlName="vipPrice" type="number"></ion-input>
      </ion-item>

      <ion-item class="goods-item">
        <ion-label color="primary">可售数量</ion-label>
        <ion-input formControlName="totalCount" type="number"></ion-input>
      </ion-item>

      <ion-item class="goods-item">
        <ion-label color="primary">商品单位</ion-label>
        <ion-select formControlName="goodsUnitId" cancelText="取消" interface="action-sheet" placeholder="请选择">
          <ion-option *ngFor="let unit of allGoodsUnits$ | async" [value]="unit.id">
            {{unit.name}}
          </ion-option>
        </ion-select>
      </ion-item>

      <button ion-item (click)="toAddGoodsUnit()">
        添加单位
        <ion-icon color="grey" name="add" item-end></ion-icon>
      </button>

      <ion-item class="goods-item">
        <ion-label color="primary">是否上架</ion-label>
        <ion-toggle formControlName="isActive"></ion-toggle>
      </ion-item>

      <ion-item class="goods-item">
        <ion-textarea formControlName="description" placeholder="填写商品备注"></ion-textarea>
      </ion-item>

    </div>

  </form>

</ion-content>