page-goods-detail {
  .goods-detail-container {
    .goods-abstract {
      .item-inner {
        border-bottom: none;
      }
      .desc {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .unit {
          color: map-get($map: $colors, $key: grey);
        }
        .price {
          color: map-get($map: $colors, $key: primary);
        }
      }
    }

    .goods-description {
      margin-top: 10px;
    }
  }
}
